/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}

h1 {
  color: #007bff;
  text-align: center;
  font-size: 36px;
}

#combinationOutput {
  margin: 20px 0;
  padding: 15px;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 18px;
  text-align: left;
}

/* Additional styles for smaller screens */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  #combinationOutput {
    padding: 10px; /* Adjust padding for smaller screens */
    font-size: 16px; /* Adjust font size for smaller screens */
  }
}

#sectionsContainer {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.strikeSection {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc; /* Border for the divs */
  border-radius: 8px;
  width: 160px; /* Increase the width to accommodate longer button labels */
}

.strikeSection h2 {
  margin-top: 0;
}

.strikeSection button {
  margin: 5px;
  padding: 10px;
  width: 120px;
  font-size: 14px;
}

#leftPunchSection, #rightPunchSection {
  background-color: #d81e1e; /* Vibrant color for punch section */
}

#leftKickSection, #rightKickSection {
  background-color: #66cc66; /* Light green color for kick section */
}

#leftKneeSection, #rightKneeSection {
  background-color: #3366cc; /* Light blue color for knee section */
}

#leftElbowSection, #rightElbowSection {
  background-color: #ffcc66; /* Light orange color for elbow section */
}

#saveButton {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #28a745; /* Green color for save button */
  color: #fff;
  border: none;
  cursor: pointer;
}

#clearButton {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #dc3545; /* Blue color for export buttons */
  color: #fff;
  border: none;
  cursor: pointer;
}

#exportTextButton, #exportImageButton {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff; /* Blue color for export buttons */
  color: #fff;
  border: none;
  cursor: pointer;
}

#savedCombinations {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#savedCombinations h2 {
  color: #333;
}
